* {
	font-family: helvetica;
	
}

html {
	background-color: 659DBD;
}
.widget {
	margin: auto;
	width: 40%;
	border: 5px solid gray;
	
}

tbody {
	color: white
}

td {
	color: white;
}

body {
	margin:auto;
}

header {
	text-align: center;
}

h2 {
	text-align: center;
	color: white;
}

header {
	color: white;
}
